@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form{
    position: absolute;
 width: 60%;
height: 50%;
border-radius: 30px ;
border: 0.5px 0px 0px 0px;
box-shadow: 0px 4px 20px 1px #00000040;
background: url(../images/FBg.svg);
background-repeat: no-repeat;
background-size:cover;
background-position-x: 0px;
margin: 14% 20%;
display: flex;
padding: 70px 10px;
flex-direction: column;
align-items: flex-end;
}
form {
   display: flex; 
   flex-direction: column;
   align-items: center;
}
form span {
    font-family: Moul;
font-size: 40px;
font-weight: 400;
line-height: 72.27px;
letter-spacing: 0.13em;
color:  #01C7BE;

}
input {
   width: 280px; 
   height:55px;
   border-radius: 1px;
   border: 0px ;
font-size: 18px;
font-weight: 400;
line-height: 21.94px;
padding: 2px;

  
}
form img {
    width: 26px;
    height: 26px;
}
.email ,.pwd{
    width: 350px;
    height: auto;
    border-bottom: 2px solid;
   border-color:linear-gradient(0deg, #282626, #282626) ;
   margin: 30px 10px;
   display: flex;
   align-items: center;
 
}
button{
    width: 250px;
height: 55px;
border-radius: 90px ;
background-color: #01C7BE;
border: 0px;
font-size: 28px;
font-weight: 600;
line-height: 36.57px;
color: #FFFFFF;
}
button:hover{
    cursor: pointer;
    background-color: #6ae0da;
}